<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>
<br>

<form action="/" method="POST">
	<input type="text" name="quote" placeholder="Enter your quote">
	<input type="text" name="author" placeholder="Enter your name">
	<input type="text" name="age" placeholder="Enter your age">
	<input type="submit" value="submit">
</form>


<!-- Create your form here!
 -->
 
</body>
</html>